/* general text formatting */


body {
   font-family: "Roboto", Verdana, Arial, sans-serif;
   font-size: 100%;
 background-color: #ECEFF1;    
}

section {
   background-color: white;
   margin: 1em 4em 1em 4em;
   border: solid 1pt black;

}
section h3 {
  color: white;
  padding: 0.75rem;
  background-color: #263238; 
}

.status {
    border-radius: 0.25rem;
    padding: 3px;
    color: white;
    
}

.status-processing {
    background-color:    #E65100;    
}
.status-shipped {
    background-color:   #4CAF50;    
}
.status-pending {
    background-color:    #03A9F4;    
}

legend {
    text-align: center;
    width: stretch;
    padding: 0.5em;
    color: white;
    background-color: #607d8b;
}

label {
    margin-top: 0.8em;
    display: block; 
    font-weight: bold;
}

.radio-lab {
    display:inline; 
    font-weight: 400;
}

input {
    padding: 0.5em 0.5em 0.5em 0;
}

form {
    padding: 0.4em 2em;
}

.button {
    margin: 1em 0 0.3em 0;
    padding: 0.7em 1.5em;
    background-color: rgb(72, 14, 105);
    color: white;
}



/* table formatting -- you will add these */

table{
    padding: 0.5em;
    width: stretch;
    margin: 0 2em;
}
td {
    padding: 0.8em;
}
tr {
    padding: 0.5em;
}

th {
    padding: 0.8em;
    text-align: left;
}

caption {
    margin-top: 0.5em;
    color: white;
    background-color: #607d8b;
    padding: 0.5em;
}

