/* general text formatting */


body {
   font-family: "Roboto", Verdana, Arial, sans-serif;
   font-size: 100%;
 background-color: #ECEFF1;    
}

section {
   background-color: white;
   margin: 1em 4em 1em 4em;
   border: solid 1pt black;

}
section h3 {
  color: white;
  padding: 0.75rem;
  background-color: #263238; 
}

.status {
    border-radius: 0.25rem;
    padding: 3px;
    color: white;
    
}

.status-processing {
    background-color:    #E65100;    
}
.status-shipped {
    background-color:   #4CAF50;    
}
.status-pending {
    background-color:    #03A9F4;    
}



table {
    margin-left: auto;
    margin-right: auto;
}

table{
    padding: 0.5em;
}
td {
    padding: 0.8em;
}
tr {
    padding: 0.5em;
}

th {
    padding: 0.8em;
    text-align: left;
}

caption {
    margin-top: 0.5em;
    color: white;
    background-color: #607d8b;
    padding: 0.5em;
}
legend {
    text-align: center;
    width: stretch;
    padding: 0.5em;
    color: white;
    background-color: #607d8b;
}
label {
    font-weight: bold;
}

form {
    padding: 0.5em 2em;
}

progress {
    
    /* border-radius: 0;
    accent-color: #03A9F4; */
}

/* table formatting -- you will add these */



