 body {
    padding: 2rem 0;
    margin: 0em 4em;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
 }
/* 

*/
img {
    width: 100%;
    height: auto;
    
}
 article {
    background-color: #fff;
 }

h1{
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    font-size: 2rem;
    color: #9f2042;
    text-align: center;
    margin-bottom: 0;
}

p, #buttons {
    font-size: 0.9rem ;
    padding: 0.4rem 2rem;
}

#details {
    text-align: center;
    color: #a9a9ba;
    font-size: 1.25rem;
}

blockquote {
    font-family: 'Roboto Slab';
    font-size: 1.25rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 4px solid   #ececec;
    margin: 0 4rem;
    font-weight: bold;
}
/* color of links */
a, a:visited {
    text-decoration: none;
    color: #ec8295;
}

#buttons a {
    padding: 0.6em;
    border: 2px solid   #ececec;
    border-radius: 5px;
}
#buttons a:hover {
    background-color: #a9a9ba;
    color: #9f2042;
}

footer {
    margin-top: 1.5rem;
    background-color: #29293a;
    padding:  1rem;
}

footer p {
    padding: 0 0 0 1rem ;
    color: white;
    font-size: 1rem;
}

/* footer a {
    color: #ec8295;
} */